<!-- navbar.html -->
<nav class="navbar navbar-expand-lg py-4 py-lg-0 shadow">
    <div class="container px-4">
        <a href="//home"><img src="../assets/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar" aria-controls="navbar">
            <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbar" aria-labelledby="navbarLabel">
            <ul class="navbar-nav ms-lg-auto p-4 p-lg-0">
                <li class="nav-item px-3 py-1 py-lg-4"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item px-3 py-1 py-lg-4"><a class="nav-link" href="/booking">Booka Trip</a></li>
                <li class="nav-item px-3 py-1 py-lg-4"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item px-3 py-1 py-lg-4"><a class="nav-link" href="#">Routes</a></li>
                <li class="nav-item px-3 py-1 py-lg-4"><a class="nav-link" href="/signin" id="signin">Sign In</a></li>
            </ul>
        </div>
    </div>
</nav>
